body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

h1 {
    color:darkblue;
}

p {
<<<<<<< HEAD
    color: darkcyan;
=======
    color: black;
>>>>>>> cabecera
    font-weight: bold;
}